main {
  background: #fafafa;
  height: 100%;
  width: 100%;
  display: flex;
}

section {
  overflow: auto;
}

section:first-child {
  flex-shrink: 0;
}

section:last-child {
  border-left: 1px solid #ddd;
}

#loader {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: silver;

  text-align: center;

  padding: 100px;

  font-size: 80pt;
}
