main {
  background: #fafafa;
  height: 100%;
  width: 100%;
  display: flex;
}

section {
  overflow: scroll;
}

section:first-child {
  flex-shrink: 0;
}

section:last-child {
  border-left: 1px solid #ddd;
}
